<IfModule mod_rewrite.c>
    # Ativa o mecanismo de reescrita
    RewriteEngine On
    
    # Se o acesso vier vazio (alguem digitando URL direto) ou de outro domínio que não seja o pineli.dev ou localhost
    RewriteCond %{HTTP_REFERER} !^https://(www\.)?pineli\.dev/ [NC]
    RewriteCond %{HTTP_REFERER} !^http://(localhost|127\.0\.0\.1) [NC]
    
    # Bloqueia o acesso retornando erro 403 (Acesso Negado) para tentar ler os arquivos de dados brutos
    RewriteRule \.(html|txt|md|jpg|png|gif|ascgif|json)$ - [F,NC]
</IfModule>

# Impede a listagem do index caso o usuario tente acessar /fs/ ou diretórios vazios sem specify arquivo
Options -Indexes
